@import "variables";
.card-tit{
  font-size: 16px;
  border-bottom: 1px solid #ebebeb;
  .xffont{
    font-size: 18px;
    margin: 0 5px 0 0;
    vertical-align: middle;
  }
  .item{
    display: inline-block;
    padding: 10px 10px;
    &:hover{
      color: $--color-primary;
      cursor: pointer;
    }
    &.active,&.router-link-active{
      color: $--color-primary;
      border-bottom: 2px solid $--color-primary;
    }
  }
}
