@import "variables";
@import "mPreview";
@import "~element-ui/packages/theme-chalk/src/index";

body{
  min-width: 1200px;
}
*{
  transition: transform .2s,background .2s,color .2s,opacity .2s;
  font-family: "Microsoft Yahei";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar-track-piece { //滚动条凹槽的颜色，还可以设置边框属性
  background-color:#f8f8f8;
}
::-webkit-scrollbar {//滚动条的宽度
  width:9px;
  height:9px;
}
::-webkit-scrollbar-thumb {//滚动条的设置
  background-color:#dddddd;
  background-clip:padding-box;
  min-height:28px;
}
::-webkit-scrollbar-thumb:hover {
  background-color:#bbb;
}
a{
  text-decoration: none;
  color: #333;
  &:hover{
    color: $--color-primary;
  }
}
.fixed-header{
  .el-input-group__append{
    padding: 0 0;
    border: none;
  }
}
.no-wrap{
  white-space: pre-wrap;
  word-break: break-all;
}
.el-popover{
  border: 1px solid #ebebeb;
}
.el-cascader-menu__item--extensible:after {
  right: 6px;
}
.hover-z-index{
  &:hover{
    z-index: 500 !important;
  }
}
.normal-bg{
  background: #fff url("../../pages/subject/static/bg2.png") repeat;
}
.hover-opa{
  &:hover{
    opacity: .95;
  }
}
.el-table--striped .el-table__body tr.el-table__row--striped td{
  background: #f3f3f3;
}
